<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Application specific configuration -->
<included>

    <appender name="SERVERLOG" class="fr.jmmc.jmcs.logging.ByteArrayOutputStreamAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg</pattern>
        </encoder>
    </appender>

    <!-- Jmal: star resolver -->
    <logger name="fr.jmmc.jmal.star" level="INFO"/>

    <!-- SearchCal -->
    <logger name="fr.jmmc.sclgui" level="INFO"/>
    <logger name="fr.jmmc.sclgui.vo.VirtualObservatory" level="INFO"/>

    <!-- SearchCal server log -->
    <logger name="fr.jmmc.sclgui.server" level="INFO" additivity="true">
        <appender-ref ref="SERVERLOG" />
    </logger>

    <!-- Axis -->
    <logger name="org.apache.axis" level="INFO"/>
    <logger name="org.apache.axis.transport.http" level="INFO"/>
    <logger name="httpclient.wire.header" level="INFO"/>

</included>