#*******************************************************************************
# JMMC project ( http://www.jmmc.fr ) - Copyright (C) CNRS.
#*******************************************************************************

#
# Test batch which runs getstar and getcal commands for technical and scientific
# use cases
#


[DEFAULT]
# command : GETCAL
# desc: Get a list of interferometric calibrators for a given science object.
# It returns any stars found in CDS catalogs around the science object, which
# can be used as calibrator during an observation.
# It computes diameters and the expected visibility for each found calibrator.
command=sclsvrServer -noDate -noFileLine -v 3 GETCAL

# parameter: band
# desc: observation band
# type: char
# has a default value:K
band=K

# parameter: wlen
# desc: observing wavelength
# type: double
# unit: um
# minValue: 0.5
# maxValue: 20
wlen=2.2

# parameter: outputFormat
# desc: expected output format (votable meta data)
# type: double
outputFormat=2013.7


[GetStar]
command=sclsvrServer -noDate -noFileLine -v 3 GETSTAR
objectName=eta tau
file=GetStarEtaTau.vot
# remove defaults
band=
wlen=
outputFormat=

#
# Technical test list
# try to cover every scenarii/bands
#

[TestBrightI]
band=I
wlen=0.87
file=TestBrightI.vot
objectName=TestBrightI
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45

[TestBrightJ]
band=J
wlen=1.24
file=TestBrightJ.vot
objectName=TestBrightJ
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45

[TestBrightH]
band=H
wlen=1.68
file=TestBrightH.vot
objectName=TestBrightH
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45

[TestBrightK]
band=K
wlen=2.37
file=TestBrightK.vot
objectName=TestBrightK
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45

[TestBrightV]
band=V
wlen=3.46
file=TestBrightV.vot
objectName=TestBrightV
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45

[TestFaintK]
bright=false
band=K
wlen=2.37
file=TestFaintK.vot
objectName=TestFaintK
mag=4
diffRa=3600
diffDec=1200
minMagRange=0
maxMagRange=8
ra=00:00:00.000
dec=00:00:00.000
baseMax=102.45
radius=360

#
# Astronomer test list
#

[alf_PsA]
file=alf_PsA.vot
objectName=alf_PsA
mag=0.83
diffRa=3600
diffDec=1200
minMagRange=0.5
maxMagRange=2
ra=22:57:39.047
dec=-29:37:20.050
baseMax=102.45

[BD+23_492]
file=BD+23_492.vot
objectName=BD+23_492
ra=03:42:45.95
dec=+24:16:16.50
mag=7.4
diffRa=3600
diffDec=1200
minMagRange=5
maxMagRange=8
baseMax=102.45

[Bet_Cap]
file=Bet_Cap.vot
objectName=Bet_Cap
mag=0.96
diffRa=3600
diffDec=1200
minMagRange=1
maxMagRange=2
ra=20:21:00.6757
dec=-14:46:52.922
baseMax=102.45

[bet_Dor]
file=bet_Dor.vot
objectName=bet_Dor
mag=1.83
diffRa=3600
diffDec=600
minMagRange=1
maxMagRange=3
ra=05:33:37.518
dec=-62:29:23.371
baseMax=102.45

[del_Oph]
file=del_Oph.vot
objectName=del_Oph
mag=-1.26
diffRa=3600
diffDec=1200
minMagRange=-1
maxMagRange=2
ra=16:14:20.740
dec=-03:41:39.564
baseMax=102.45

[eps_Sgr]
file=eps_Sgr.vot
objectName=eps_Sgr
mag=1.73
diffRa=3600
diffDec=1200
minMagRange=1.5
maxMagRange=2.5
ra=18:24:10.318
dec=-34:23:04.6180
baseMax=102.45

[ETA_TAU]
file=ETA_TAU.vot
objectName=ETA_TAU
mag=2.96
diffRa=1800
diffDec=600
minMagRange=2
maxMagRange=4
ra=03:47:29.076
dec=24:06:18.494
baseMax=102.45

[FU_Ori]
file=FU_Ori.vot
objectName=FU_Ori
mag=4.65
diffRa=1800
diffDec=600
minMagRange=3.5
maxMagRange=5.5
ra=05:45:22.362
dec=09:04:12.310
baseMax=102.45

[HD_103945]
file=HD_103945.vot
objectName=HD_103945
ra=11:58:13.93
dec=+03:28:55.20
mag=2.1
diffRa=3600
diffDec=1200
minMagRange=5
maxMagRange=8
baseMax=102.45

[pi01_Gru]
file=pi01_Gru.vot
objectName=pi01_Gru
mag=-2.1
diffRa=3600
diffDec=1200
minMagRange=-2
maxMagRange=2
ra=22:22:44.205
dec=-45:56:52.598
baseMax=102.45

[tau04_Eri]
file=tau04_Eri.vot
objectName=tau04_Eri
mag=-1.17
diffRa=3600
diffDec=1200
minMagRange=-1
maxMagRange=2
ra=03:19:31.002
dec=-21:45:28.310
baseMax=102.45

[W_Aql]
file=W_Aql.vot
objectName=W_Aql
mag=0.8
diffRa=3600
diffDec=600
minMagRange=1
maxMagRange=2
ra=19:15:23.440
dec=-07:02:49.901
baseMax=102.45

[zet_Gem]
file=zet_Gem.vot
objectName=zet_Gem
mag=2.12
diffRa=1800
diffDec=600
minMagRange=1
maxMagRange=3
ra=07:04:06.5318
dec=20:34:13.069
baseMax=102.45

[del_Sco]
file=del_Sco.vot
objectName=del_Sco
mag=2.427
diffRa=3600
diffDec=1200
minMagRange=2
maxMagRange=3
ra=16:00:20.0063
dec=-22:37:18.156
baseMax=102.45

[AzV_266]
file=AzV_266.vot
objectName=AzV_266
ra=01:01:09.42
dec=-72:27:28.40
mag=12.9
minMagRange=10
maxMagRange=13
baseMax=102.45
bright=false

[BD+23_492]
file=BD+23_492.vot
objectName=BD+23_492
ra=03:42:45.95
dec=+24:16:16.50
mag=7.4
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[Elia_2-64]
file=Elia_2-64.vot
objectName=Elia_2-64
ra=16:23:14.40
dec=-24:39:24.00
mag=4.0
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[FU_Ori]
file=FU_Ori.vot
objectName=FU_Ori
ra=05:45:22.60
dec=+09:04:12.00
mag=4.65
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[HD_103945]
file=HD_103945.vot
objectName=HD_103945
ra=11:58:13.93
dec=+03:28:55.20
mag=2.1
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[HD_111688]
file=HD_111688.vot
objectName=HD_111688
ra=12:51:58.53
dec=-63:08:31.90
mag=8.2
minMagRange=5
maxMagRange=12
baseMax=102.45
bright=false

[HD_144007]
file=HD_144007.vot
objectName=HD_144007
ra=16:05:15.26
dec=-40:19:10.34
mag=5.0
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[HD_26933]
file=HD_26933.vot
objectName=HD_26933
ra=05:18:19.27
dec=-69:11:40.60
mag=11.3
minMagRange=10
maxMagRange=12
baseMax=102.45
bright=false

[HD_33793]
file=HD_33793.vot
objectName=HD_33793
ra=05:11:40.58
dec=-45:01:06.25
mag=5.0
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[HD_5980]
file=HD_5980.vot
objectName=HD_5980
ra=00:59:26.50
dec=-72:09:53.90
mag=10.8
minMagRange=8
maxMagRange=12
baseMax=102.45
bright=false

[l_Car]
file=l_Car.vot
objectName=l_Car
ra=09:45:14.811
dec=-62:30:28.451
mag=6.5
minMagRange=5.5
maxMagRange=7.5
baseMax=130.2306
bright=false

[NGC_1068]
file=NGC_1068.vot
objectName=NGC_1068
ra=02:42:40.83
dec=-00:00:48.40
mag=1.8
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[S_Cra]
file=S_Cra.vot
objectName=S_Cra
ra=19:01:08.60
dec=-36:57:19.90
mag=6.2
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[TW_Hya]
file=TW_Hya.vot
objectName=TW_Hya
ra=11:01:51.90
dec=-34:42:17.00
mag=7.3
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[U_Mus]
file=U_Mus.vot
objectName=U_Mus
ra=13:24:59.40
dec=-64:39:51.00
mag=1.7
minMagRange=5
maxMagRange=8
baseMax=102.45
bright=false

[V615_Ori]
file=V615_Ori.vot
objectName=V615_Ori
ra=05:41:24.30
dec=-02:22:38.90
mag=7.4
minMagRange=5
maxMagRange=10
baseMax=102.45
bright=false
