#*******************************************************************************
# JMMC project ( http://www.jmmc.fr ) - Copyright (C) CNRS.
#*******************************************************************************
M	0.12
L	0.19
K	0.36
H	0.53
J	0.86
I	1.57
R	2.32
V	3.10
B	4.10
